<h1>Listing usergroups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usergroups.each do |usergroup| %>
  <tr>
    <td><%= usergroup.name %></td>
    <td><%= usergroup.description %></td>
    <td><%= link_to 'Show', usergroup %></td>
    <td><%= link_to 'Edit', edit_usergroup_path(usergroup) %></td>
    <td><%= link_to 'Destroy', usergroup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usergroup', new_usergroup_path %>
